body {
    background-color: #3AAFA9;
    color: #FEFFFF;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 10vw 1fr 2fr 10vw;
    grid-template-rows: 10vh 40vh 1fr;
    grid-template-areas:
    "nav nav nav nav"
    ". prof-pic prof-info ."
    ". posts posts .";
    row-gap: 3vh; 
}

.area-border {
    border:2px solid #DEF2F1; 
}

.nav {
    grid-area: nav;
    background-color: #17252A;
    position:sticky;
    top: 0;
}

.nav-links {
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.nav-links > a {
    text-decoration: none;
    color: #FEFFFF;
    font-size: 1em;
    font-weight: 300;
}

.nav-links > a:hover {
    font-size:larger;
    text-decoration:wavy;
}

.prof-pic {
    grid-area: prof-pic;
}

.prof-info {
    grid-area: prof-info;
}

.posts {
    grid-area:posts
}